<section id="contact" class="contact container p-5">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Contact</h2>
        </div>

        <div class="row mt-1">
            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>Barcelona, Spain</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>caarolbg@gmail.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-github"></i>
                        <h4>Github:</h4>
                        <p>https://github.com/bielidev</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">
                <div class="alert alert-success" role="alert" *ngIf="isFormSent">
                    Your message was successfully delivered.
                </div>
                <form role="form" class="php-email-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input formControlName="name" type="text" name="name" class="form-control" [ngClass]="{ 'is-invalid': name.errors && name.touched }" id="name" placeholder="Your Name" />
                            <span class="text-danger" *ngIf="name.errors && name.touched">This field is required</span
              >
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <input
                formControlName="email"
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder="Your Email"
                [ngClass]="{ 'is-invalid': email.errors && email.touched }"
              />
              <span
                class="text-danger"
                *ngIf="email.errors && email.errors.required && email.touched"
                >This field is required</span
              >
              <span
                class="text-danger"
                *ngIf="email.errors && email.errors.email && email.touched"
                >Email format invalid</span
              >
            </div>
          </div>
          <div class="form-group mt-3">
            <input
              formControlName="subject"
              type="text"
              class="form-control"
              name="subject"
              id="subject"
              placeholder="Subject"
              [ngClass]="{ 'is-invalid': subject.errors && subject.touched }"
            />
            <span
              class="text-danger"
              *ngIf="
                subject.errors && subject.errors.required && subject.touched
              "
              >This field is required</span
            >
          </div>
          <div class="form-group mt-3">
            <textarea
              formControlName="message"
              class="form-control"
              name="message"
              rows="5"
              placeholder="Message"
              [ngClass]="{ 'is-invalid': message.errors && message.touched }"
            ></textarea>
            <span
              class="text-danger"
              *ngIf="
                message.errors && message.errors.required && message.touched
              "
              >This field is required</span
            >
            <span
              class="text-danger"
              *ngIf="
                message.errors && message.errors.maxlength && message.touched
              "
              >Must be less than 100 characters</span
            >
          </div>
          <div class="text-center">
            <button type="submit" [disabled]="contactForm.invalid">
              Send Message
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>